body {
  --color-title: #32303d;
  --color-txt-primary: #70757f;
  --color-link: #686da5;
  --color-primary-btn: #fff;
  --color-logo: #228bde;
  --color-bg-primary-btn: #228bde;
  --color-bg-primary-btn-disabled: #c0c4cf;
  --color-bg-primary: #f9fbfa;
  --color-bg-login-form: #fff;
  --color-shadow: #ccc;
}

body {
  margin: 0;
  padding: 0;
  font-family: Verdana;
  text-align: center;
  background: var(--color-bg-primary);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.LoginPage {
    min-height: 750px;
    display: flex;
}